@charset "utf-8";
body, button, select, textarea, input, label, option, fieldset, legend{font-family: 微软雅黑E\8F6F\96C5\9ED1,Tahoma,Verdana;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td{
  margin: 0;padding: 0;
}
a{text-decoration: none;}
a:hover {text-decoration: none;}
li{list-style-type:none;}
